@tailwind base;
@tailwind components;
@tailwind utilities;

.jira {
	height: 100%;
	min-height: 100vh;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	display: flex;
	position: relative;
}

/* Add a specific width to the table cells */

.ant-table-cell {
	width: 100px;
	/* Adjust the width as per your requirements */
	max-width: 100px;
	/* Ensures the cell doesn't expand beyond the fixed width */
}

/* Truncate the content and add ellipsis */
.truncate {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
} */